<div>
    <form [formGroup]="dashboardForm">
        <img mat-card-image src="assets/img/bb.png" alt="BanBif Logo">
        <hr>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <span class="sub-title">Fecha de Creación</span>
                </div>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Desde</mat-label>
                    <input matInput [matDatepicker]="dpfc" formControlName="Fecha_Creacion_Desde">
                    <mat-datepicker-toggle matSuffix [for]="dpfc"></mat-datepicker-toggle>
                    <mat-datepicker #dpfc></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Hasta</mat-label>
                    <input matInput [matDatepicker]="dpfch" formControlName="Fecha_Creacion_Hasta">
                    <mat-datepicker-toggle matSuffix [for]="dpfch"></mat-datepicker-toggle>
                    <mat-datepicker #dpfch></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Zona" formControlName="ZonaId">
                        <mat-option>Todas</mat-option>
                        <mat-option *ngFor="let zona of zonaModelList" [value]="zona.Id">Zona {{zona.Title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Oficina" formControlName="OficinaId">
                        <mat-option [value]="">Todas</mat-option>
                        <mat-option *ngFor="let oficina of oficinaList" [value]="oficina.Id">
                            {{oficina.Title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Vendedor" formControlName="Vendedor">
                        <mat-option [value]="">Todas</mat-option>
                        <mat-option [value]=""> Zona 1</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Canal" formControlName="Canal">
                        <mat-option [value]="">Todas</mat-option>
                        <mat-option *ngFor="let item of data" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <span class="sub-title">Fecha Estado Activo</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Desde</mat-label>
                    <input matInput [matDatepicker]="dpfed" formControlName="Fecha_Creacion_Desde">
                    <mat-datepicker-toggle matSuffix [for]="dpfed"></mat-datepicker-toggle>
                    <mat-datepicker #dpfed></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Hasta</mat-label>
                    <input matInput [matDatepicker]="dpfech" formControlName="Fecha_Creacion_Hasta">
                    <mat-datepicker-toggle matSuffix [for]="dpfech"></mat-datepicker-toggle>
                    <mat-datepicker #dpfech></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Tipo de Producto" formControlName="Tipo_ProductoId">
                        <mat-option [value]="">Todas</mat-option>
                        <mat-option *ngFor="let producto of tipoProductoList" [value]="producto.Id">
                            {{producto.Title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Tipo de SubProducto" formControlName="Sub_ProductoId">
                        <mat-option [value]="">Todas</mat-option>
                        <mat-option *ngFor="let tipoSubProducto of tipoSubProductoList" [value]="tipoSubProducto.Id">
                            {{tipoSubProducto.Title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th class="td-center">Estados</th>
                        <th>Expedientes</th>
                        <th>Tiempo Promedio estación</th>
                        <th>Tiempo Promedio Total</th>
                        <th>Fuera de ANS</th>
                        <th>Total Desembolso S/.</th>
                        <th>Fuera de ANS Acumulado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dashboard">
                        <td class="td-center">{{item.Title}}</td>
                        <td class="td-center">
                            <a (click)="getSolicitudesPorEstado(item.Id)">{{item.Cantidad}}</a>
                        </td>
                        <td class="td-center">{{item.TiempoPromedio | number: '.0-2' }}</td>
                        <td class="td-center">{{item.TiempoPromedioTotal | number: '.0-2' }}</td>
                        <td class="td-center">
                            <a (click)="getSolicitudesANS(0,item.Id)">{{item.FueraANS}}</a> </td>
                        <td>{{item.Monto | currency:'S/. ':'symbol':'.0-0' }}</td>
                        <td class="td-center">
                            <a (click)="getSolicitudesANSAcumulado(0,item.Id)">{{item.FueraANSAcumulado}}</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Totales</td>
                        <td class="td-center">{{totalExpedientes}}</td>
                        <td class="td-center">{{totalTiempoPromedioEstacion | number: '.0-2' }}</td>
                        <td class="td-center">{{totalTiempoPromedioTotal | number: '.0-2' }}</td>
                        <td class="td-center"> {{totalFueraANS}}</td>
                        <td>{{totalMonto | currency:'S/. ':'symbol':'.0-0' }}</td>
                        <td class="td-center"> {{totalfueraANSAcumulado}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>
<br>
<div [ngClass]="{
        'd-none': !showSolicitudes,
        'col-md-12': showSolicitudes
    }">
    <mat-form-field>
        <mat-label>Buscar:</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese valor a Buscar" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">

            <!-- Id Column -->
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Solicitud </th>

                <td mat-cell *matCellDef="let element">
                    <a (click)="irPaginaSolicitud(element)"> {{element.Id}}  </a>
                </td>



            </ng-container>

            <!-- Fecha_Creacion Column -->
            <ng-container matColumnDef="Created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Solicitud </th>
                <td class="td-right" mat-cell *matCellDef="let element"> {{element.Created | date:'dd/MM/yy'}} </td>
            </ng-container>

            <!-- Nombre Titular Column -->
            <ng-container matColumnDef="Nombre_Titular">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del Cliente </th>
                <td mat-cell *matCellDef="let element"> {{element.Nombre_Titular}} </td>
            </ng-container>

            <!-- N_Documento  Column -->
            <ng-container matColumnDef="N_Documento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N° de Documento </th>
                <td mat-cell *matCellDef="let element"> {{element.N_Documento}} </td>
            </ng-container>

            <!-- Author  Column -->
            <ng-container matColumnDef="Author">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del Ejecutivo </th>
                <td mat-cell *matCellDef="let element"> {{element.Author ? element.Author.Title: "-------" }} </td>
            </ng-container>
            <!-- Tipo_ProductoId  Column -->
            <ng-container matColumnDef="Tipo_ProductoId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
                <td mat-cell *matCellDef="let element"> {{element.Tipo_ProductoId}} </td>
            </ng-container>
            <!-- Estado  Column -->
            <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estación </th>
                <td mat-cell *matCellDef="let element"> {{element.Estado.Title}} </td>
            </ng-container>
            <!-- ZonaId  Column -->
            <ng-container matColumnDef="ZonaId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Zona </th>
                <td mat-cell *matCellDef="let element"> {{element.ZonaId ? element.ZonaId: "-------"}} </td>
            </ng-container>

            <!-- Oficina  Column -->
            <ng-container matColumnDef="Oficina">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Oficina </th>
                <td mat-cell *matCellDef="let element"> {{element.Oficina ? element.Oficina.Title: "SIN OFICINA"}} </td>
            </ng-container>

            <!-- Mon_Desembolso  Column -->
            <ng-container matColumnDef="Mon_Desembolso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Moneda </th>
                <td mat-cell *matCellDef="let element"> {{element.Mon_Desembolso}} </td>
            </ng-container>
            <!-- Desembolso  Column -->
            <ng-container matColumnDef="Desembolso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Desembolso </th>
                <td mat-cell *matCellDef="let element"> {{element.Desembolso | number: '.0-2'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[9, 18, 36]" showFirstLastButtons></mat-paginator>
    </div>
</div>