<div>
    <img mat-card-image src="assets/img/bb.png" alt="BanBif Logo">
    <div class="row">
      <div class="col-md-2">
        <mat-form-field class="full-width">
          <mat-select placeholder="Zona" formControlName="">
              <mat-option  [value]="">Todas</mat-option>
              <mat-option  [value]=""> Zona 1</mat-option>
          </mat-select>
      </mat-form-field>
      </div>
      <div class="col-md-2">
          <mat-form-field class="full-width">
            <mat-select placeholder="Oficina" formControlName="">
              <mat-option  [value]="">Todas</mat-option>
              <mat-option  [value]=""> Zona 1</mat-option>
            </mat-select>
      </mat-form-field>
      </div>
      <div class="col-md-2">
          <mat-form-field class="full-width">
            <mat-select placeholder="Vendedor" formControlName="">
              <mat-option  [value]="">Todas</mat-option>
              <mat-option  [value]=""> Zona 1</mat-option>
            </mat-select>
      </mat-form-field>
      </div>
      <div class="col-md-2">
          <mat-form-field class="full-width">
            <mat-select placeholder="Canal" formControlName="">
              <mat-option  [value]="">Todas</mat-option>
              <mat-option  [value]=""> Zona 1</mat-option>
            </mat-select>
      </mat-form-field>
      </div>
      <div class="col-md-2">
          <mat-form-field class="full-width">
            <mat-select placeholder="Origen" formControlName="">
              <mat-option  [value]="">Todas</mat-option>
              <mat-option  [value]=""> Zona 1</mat-option>
            </mat-select>
      </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <mat-form-field class="full-width">
          <mat-select placeholder="Indicador" formControlName="">
              <mat-option  [value]="">Todas</mat-option>
              <mat-option  [value]=""> Zona 1</mat-option>
          </mat-select>
      </mat-form-field>
      </div>
      <div class="col-md-2">
          <mat-form-field class="full-width">
            <mat-select placeholder="Responsable" formControlName="">
              <mat-option  [value]="">Todas</mat-option>
              <mat-option  [value]=""> Zona 1</mat-option>
            </mat-select>
      </mat-form-field>
      </div>
      <div class="col-md-2">
          <mat-form-field class="full-width">
            <mat-select placeholder="Semáforo" formControlName="">
              <mat-option  [value]="">Todas</mat-option>
              <mat-option  [value]=""> Zona 1</mat-option>
            </mat-select>
      </mat-form-field>
      </div>
      <div class="col-md-2">
          <mat-form-field class="full-width">
            <mat-select placeholder="Variación" formControlName="">
              <mat-option  [value]="">Todas</mat-option>
              <mat-option  [value]=""> Zona 1</mat-option>
            </mat-select>
      </mat-form-field>
      </div>
      <div class="col-md-2">
          <mat-form-field class="full-width">
            <mat-select placeholder="Tipo de Producto" formControlName="">
              <mat-option  [value]="">Todas</mat-option>
              <mat-option  [value]=""> Zona 1</mat-option>
            </mat-select>
      </mat-form-field>
      </div>
    </div>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>--</th>
        <th>Expedientes</th>
        <th>Tiempo Promedio estación</th>
        <th>Tiempo Promedio Total</th>
        <th>Fuera de ANS</th>
        <th>Monto S/.</th>
        <th>Fuera de ANS Acumulado</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td>Totales</td>
        <td>Footer content 2</td>
        <td>Footer content 2</td>
        <td>Footer content 2</td>
        <td>Footer content 2</td>
        <td>Footer content 2</td>
        <td>Footer content 2</td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Crea Expediente</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      <tr>
        <td>Registro CPM</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
    </tbody>
  </table>
</div>
