.full-width {
  width: 50%;
}

.padre {
  text-align: center;
  color: rgb(255,0,0);
}


.card-center {
  width: 25%;
  margin:auto;
}

.mat-card-subtitle {
  background: rgba(2,139,255,1) !important;
  color: aliceblue;
}

.mid-width {
  width: 100%;
}

.mat-card-title{
  color: rgba(2,139,255,1) !important;
  margin-bottom: auto;
}


.mat-raised-button.mat-primary{
  background: rgba(2,139,255,1) !important;
}

mat-checkbox {
  &.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
   background: rgba(2,139,255,1) !important;
  }
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;

}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
