.cabeceraTabla {
    font-size: 12px !important;
    color: rgb(32, 163, 255) !important;
}

.filaTabla {
    font-size: 11px !important;
}

.celdaEstado{
    font-weight: bold;
}

.celdaEnlace{
    color: rgb(32, 163, 255) !important;
    font-weight: bold;
}

/*
 div{
  border: 1px solid rgb(32, 163, 255);
  border-radius: 20px!important;
 }

.mat-toolbar.mat-primary {
    background: #A7A9AC !important;
    color: white;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{
    background-color: #20A3FF !important;
}

.mat-progress-bar-fill::after {
    background-color: #20A3FF !important;
}

.mat-progress-bar-buffer{
    background-color: rgb(144, 241, 248) !important;
}
*/
