.cabeceraTabla {
    font-size: 12px !important;
    color: rgb(32, 163, 255) !important;
}

.filaTabla {
    font-size: 11px !important;
}

.celdaEstado{
    font-weight: bold;
}

.celdaEnlace{
    color: rgb(32, 163, 255) !important;
    font-weight: bold;
}