<app-grid-loader [isCargando]="isCargando"></app-grid-loader>
<mat-card class="col-xs-12">
    <mat-toolbar class="row" color="warn">
        <div class="mat-toolbar-tools font-white row col-xs-12">
            <div class="inline-buttons pull-left" flex>
                <h4>Bandeja de Trabajo</h4>
            </div>
            <div class="inline-buttons pull-right">
                <button type="button" mat-button class="mat-icon-button inline-buttons" (click)="reload()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <button type="button" mat-button class="mat-icon-button inline-buttons" (click)="openSidenavMenu()">
                    <mat-icon>filter_list</mat-icon>
                </button>
                <button type="button" mat-button class="mat-icon-button inline-buttons" (click)="exportarExcel()">
                    <mat-icon>cloud_download</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>

    <div>
        <div class="example-container mat-elevation-z8">

            <div class="example-table-container">
                <table mat-table [dataSource]="dataSourceSolicitudes"
                    class="mat-elevation-z8 table-custom tabla-projects" matSort matSortActive="Id"
                    matSortDirection="asc">
                    <ng-container matColumnDef="Id">
                        <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header disableClear> N°
                            Solicitud </th>
                        <td class="filaTabla" mat-cell *matCellDef="let element">
                            <a class="text-ellipsis celdaEnlace" (click)="irPaginaSolicitud(element)">
                                {{element.Id}}
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="N_Documento">
                        <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Nro.
                            Documento</th>
                        <td class="filaTabla" mat-cell *matCellDef="let element"> {{element.N_Documento}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Nombre_Titular">
                        <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Nombre
                            Titular</th>
                        <td class="filaTabla" mat-cell *matCellDef="let element"> {{element.Nombre_Titular }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Author">
                        <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                            Solicitante</th>
                        <td class="filaTabla" mat-cell *matCellDef="let element"> {{element.Author}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Created">
                        <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Fec. Creación</th>
                        <td class="filaTabla" mat-cell *matCellDef="let element">
                            {{element.Created | date: "dd/MM/yyyy HH:mm"}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Fecha_Estado">
                        <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Fecha
                            Estado</th>
                        <td class="filaTabla" mat-cell *matCellDef="let element">
                            {{element.Fecha_Estado  | date: "dd/MM/yyyy HH:mm"}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Estado">
                        <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Estado
                        </th>
                        <td class="filaTabla celdaEstado" mat-cell *matCellDef="let element"> {{element.Estado}} </td>
                    </ng-container>   
                    <ng-container matColumnDef="Zona">
                        <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Zona
                        </th>
                        <td class="filaTabla" mat-cell *matCellDef="let element"> {{element.Zona}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Oficina">
                        <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Oficina
                        </th>
                        <td class="filaTabla" mat-cell *matCellDef="let element"> {{element.Oficina }} </td>
                    </ng-container> 
                    <ng-container matColumnDef="Tipo_Producto">
                        <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Tipo
                            Producto</th>
                        <td class="filaTabla" mat-cell *matCellDef="let element"> {{element.Tipo_Producto }} </td>
                    </ng-container>                                   
                    <ng-container matColumnDef="Desembolso">
                        <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                            Desembolso</th>
                        <td class="filaTabla" mat-cell *matCellDef="let element">{{element.SimboloMoneda}}
                            {{element.Desembolso | currency:' '}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Anlista_Riesgos">
                        <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                            Analista Riesgos</th>
                        <td class="filaTabla" mat-cell *matCellDef="let element"> {{element.Anlista_Riesgos}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSolicitud"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSolicitud;">
                    </tr>
                </table>

                <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
            </div>

            <div class="msg-filter-applied text-center" style="color:orange;height:35px;" *ngIf="isFilterApplied">
                <div class="mat-toolbar-tools row col-xs-12" style="height: auto; ">
                    <button type="button" mat-button class="mat-icon-button inline-buttons" md-no-ink
                        style="margin-top: -7px;">
                        <mat-icon style="font-size:30px;">new_releases</mat-icon>
                    </button>
                    <div class="md-subhead inline-buttons" flex>
                        &nbsp;<a target="_blank" (click)="openSidenavMenu()">La lista se encuentra filtrada.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>

<mat-sidenav #sidenavfiltros role="navigation" position="end" class="col-lg-3 col-xs-12 my-left-sidenav"
    style="display:none;">
    <mat-toolbar color="primary">
        <h3 class="col-xs-6">Filtros</h3>
        <span class="col-xs-6 text-right">
            <mat-icon (click)="closeSidenavMenu()">close</mat-icon>
        </span>
    </mat-toolbar>

    <div name="searchForm">
        <div class="form-group col-xs-12 col-lg-12"  style="padding-top: 20px;">
            <mat-form-field>
                <input autocomplete="off" matInput placeholder="Nro. Solicitud" class="form-control"
                    [(ngModel)]="tableQuery.filter.Id" maxlength="6">
            </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-lg-12">
            <mat-form-field>
                <input autocomplete="off" matInput placeholder="Nro. Documento" class="form-control"
                    [(ngModel)]="tableQuery.filter.NumeroDocumento" maxlength="20">
            </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-lg-12">
            <mat-form-field>
                <input autocomplete="off" matInput placeholder="Nombre Titular" class="form-control"
                    [(ngModel)]="tableQuery.filter.NombreTitular" maxlength="50"
                    (keydown)="onKeydownNombreTitular($event)">
            </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-lg-12">
            <mat-form-field>
                <mat-label>Zona</mat-label>
                <mat-select [(ngModel)]="tableQuery.filter.Zona">
                    <mat-option *ngFor="let item of datosMaestrosBandeja.maestroZona" [value]="item.Id">
                        {{item.Title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-lg-12">
            <mat-form-field>
                <mat-label>Oficina</mat-label>                
                <mat-select [(ngModel)]="tableQuery.filter.Oficina">
                    <mat-option *ngFor="let item of datosMaestrosBandeja.maestroOficina" [value]="item.Id">
                        {{item.Title}}
                      </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-lg-12" [formGroup]="form">
            <mat-form-field>
                <mat-label class="people-chip-list-label label-peoplepicker">Solicitante</mat-label>
                <people-picker-input [formControlName]="nombreControles.filtroSolicitante"
                    (onRemove)="removePeople('solicitante')" placeholder="Escribe un nombre..." [multiple]="false">
                </people-picker-input>
            </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-lg-12">
            <mat-form-field>
                <mat-label>Estado</mat-label>
                <mat-select multiple [(ngModel)]="tableQuery.filter.Estado">
                    <mat-option *ngFor="let item of datosMaestrosBandeja.maestroEstado" [value]="item.Id">
                        {{item.Title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-lg-12">
            <mat-form-field>
                <mat-label>Tipo Producto</mat-label>
                <mat-select [(ngModel)]="tableQuery.filter.TipoProducto">                    
                    <mat-option *ngFor="let item of datosMaestrosBandeja.maestroTipoProducto" [value]="item.Id">
                        {{item.Title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group col-xs-12 col-lg-12">            
            <mat-form-field >              
                <input autocomplete="off" placeholder="Fec. Estado (Desde)" [(ngModel)]="tableQuery.filter.FechaEstadoDesde" matInput [matDatepicker]="dpFecEstadoDesde">
                <mat-datepicker-toggle matSuffix [for]="dpFecEstadoDesde"></mat-datepicker-toggle>
                <mat-datepicker #dpFecEstadoDesde></mat-datepicker>
            </mat-form-field>           
        </div>
        <div class="form-group col-xs-12 col-lg-12">            
            <mat-form-field >              
                <input autocomplete="off" placeholder="Fec. Estado (Hasta)" [(ngModel)]="tableQuery.filter.FechaEstadoHasta" matInput [matDatepicker]="dpFecEstadoHasta">
                <mat-datepicker-toggle matSuffix [for]="dpFecEstadoHasta"></mat-datepicker-toggle>
                <mat-datepicker #dpFecEstadoHasta></mat-datepicker>
            </mat-form-field>           
        </div>
        <div class="form-group col-xs-12 col-lg-12" [formGroup]="form">
            <mat-form-field>
                <mat-label class="people-chip-list-label label-peoplepicker">Analista Riesgos</mat-label>
                <people-picker-input [formControlName]="nombreControles.filtroAnalistaRiesgos"
                    (onRemove)="removePeople('analistaRiesgos')" placeholder="Escribe un nombre..." [multiple]="false">
                </people-picker-input>
            </mat-form-field>
        </div>

        <div class="text-center" style="padding-bottom: 15px">
            <button type="button" (click)="getSolicitudes()" mat-raised-button color="primary" class="accent">
                <mat-icon>search</mat-icon>
                Buscar
            </button>
            <button type="button" mat-raised-button (click)="limpiar()" class="md-raised md-secondary">
                <mat-icon>do_not_disturb</mat-icon>
                Limpiar
            </button>
        </div>
    </div>

</mat-sidenav>
