<div>
    <form [formGroup]="hipotecarioForm">
        <img mat-mat-card-image src="assets/img/bb.png" alt="Banbif Logo">
        <hr>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <span class="sub-title"> Año </span>
                </div>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Año" formControlName="Year">
                        <mat-option *ngFor="let item of YEARS" [value]="item.year">
                            {{item.year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <span class="sub-title"> Mes de Operación </span>
                </div>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Mes" formControlName="MesId">
                        <mat-option *ngFor="let item of data" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Zona" formControlName="ZonaId">
                        <mat-option>Todas</mat-option>
                        <mat-option *ngFor="let zona of zonaModelList" [value]="zona.Id">Zona {{zona.Title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Oficina" formControlName="OficinaId">
                        <mat-option [value]="">Todas</mat-option>
                        <mat-option *ngFor="let oficina of oficinaList" [value]="oficina.Id">
                            {{oficina.Title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Vendedor" formControlName="Vendedor">
                        <mat-option [value]="">Todas</mat-option>
                        <!-- <mat-option *ngFor="let user of usersList" [value]="user.Id">
                            {{user.Title}}
                        </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Canal" formControlName="Canal">
                        <mat-option [value]="">Todas</mat-option>
                        <!-- <mat-option *ngFor="let item of data" [value]="item.id">
                            {{item.name}}
                        </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Origen" formControlName="Canal">
                        <mat-option [value]="">Todas</mat-option>
                        <!-- <mat-option *ngFor="let item of data" [value]="item.id">
                            {{item.name}}
                        </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Responsable" formControlName="Canal">
                        <mat-option [value]="">Todas</mat-option>
                        <!-- <mat-option *ngFor="let item of data" [value]="item.id">
                            {{item.name}}
                        </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Semáforo" formControlName="Canal">
                        <mat-option [value]="">Todas</mat-option>
                        <!-- <mat-option *ngFor="let item of data" [value]="item.id">
                        {{item.name}}
                    </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Variación" formControlName="Canal">
                        <mat-option [value]="">Todas</mat-option>
                        <!-- <mat-option *ngFor="let item of data" [value]="item.id">
                        {{item.name}}
                    </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info">Prueba</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="td-center" colspan="11">Indicador</th>
                    </tr>
                    <tr>
                        <th colspan="2">Título </th>
                        <th>Unidad</th>
                        <th>Resp.</th>
                        <th>Peso</th>
                        <th>
                            <p class="verticalText">Anterior</p>
                        </th>
                        <th>
                            <p class="verticalText">Variación</p>
                        </th>
                        <th>Meta</th>
                        <th>Valor</th>
                        <th>Numerador</th>
                        <th>Denominador</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class='titulo' (click)="showIndicadores=!showIndicadores">
                        <td colspan="2">Procesos Hipotecario</td>
                        <td>Unidad</td>
                        <td>Neg. Hipotecario</td>
                        <td>100 %</td>
                        <td>
                            <!-- <mat-icon [ngClass]="sentiment">{{icono}}</mat-icon> -->
                            <!-- <mat-icon class="happy">sentiment_satisfied_alt</mat-icon>
                            <mat-icon class="dissatisfied">mood_bad</mat-icon>
                            <mat-icon class="sad">sentiment_dissatisfied</mat-icon> -->
                        </td>
                        <td>
                            <!-- <mat-icon class="happy">trending_up</mat-icon>
                            <mat-icon class="dissatisfied">trending_flat</mat-icon>
                            <mat-icon class="sad">trending_down</mat-icon> -->
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr [ngClass]="{'d-none':!showIndicadores,'d-block':showIndicadores}" (click)="showDetalleConcluidos=!showDetalleConcluidos">
                        <td>
                            <mat-icon class={{sentimentConcluded}}>{{iconoConcluded}} </mat-icon>
                        </td>
                        <td>Porcentaje de Expedientes Concluidos </td>
                        <td> %</td>
                        <td>Neg. Inmobiliario</td>
                        <td>33 % </td>
                        <td>
                            <mat-icon class={{sentimentConcludedPrevious}}>{{iconoConcludedPrevious}} </mat-icon>
                            <!-- {{porcentajeExpedientesConcluidosAnterior}} -->
                        </td>
                        <td>
                            <mat-icon class={{sentimentConcludedVariation}}>{{iconoConcludedVariation}} </mat-icon>
                        </td>
                        <td></td>
                        <td>{{porcentajeExpedientesConcluidos | number: '.0-2'}} %</td>
                        <td>{{cantidadSolicitudesConcluidas}}</td>
                        <td>{{cantidadSolicitudesPorMes}}</td>
                    </tr>
                    <tr [ngClass]="{'d-none':!showDetalleConcluidos,'d-block':showDetalleConcluidos}" id="result_data" *ngFor="let dashboard of dashboardList">
                        <td>
                            <mat-icon class={{dashboard.Sentimiento}}>{{dashboard.Icono}} </mat-icon>
                        </td>
                        <td>
                            {{dashboard.Title}} </td>
                        <td> % </td>
                        <td> Red de Oficinas </td>
                        <td>33 %</td>
                        <td>
                            <mat-icon class={{dashboard.SentimientoAnterior}}>{{dashboard.IconoAnterior}}</mat-icon>
                        </td>
                        <td>
                            <mat-icon class={{dashboard.ColorVariacion}}>{{dashboard.Variacion}} </mat-icon>
                        </td>
                        <td> </td>
                        <td>{{dashboard.Porcentaje | number: '.0-2'}} %</td>
                        <td>{{dashboard.CantidadSolicitudesConcluidas | number: '.0-2'}} </td>
                        <td>{{dashboard.FlujoSeguimiento}} </td>
                    </tr>
                    <tr [ngClass]="{'d-none':!showIndicadores,'d-block':showIndicadores}" (click)="showDetalleANS=!showDetalleANS">
                        <td>
                            <mat-icon class={{sentimentANS}}>{{iconoANS}} </mat-icon>
                        </td>
                        <td>Cumplimiento de ANS</td>
                        <td> %</td>
                        <td>Neg. Hipotecario</td>
                        <td>33 % </td>
                        <td>
                            <mat-icon class={{sentimentANSPrevious}}>{{iconoANSPrevious}} </mat-icon>
                        </td>
                        <td>
                            <mat-icon class={{sentimentANSVariation}}>{{iconoANSVariation}} </mat-icon>
                        </td>
                        <td></td>
                        <td>{{porcentajeExpedientesANS | number: '.0-2'}} %</td>
                        <td>{{cantidadsolicitudANSMesPrueba}}</td>
                        <td>{{cantidadSolicitudesPorMes}}</td>
                    </tr>
                    <tr [ngClass]="{'d-none':!showDetalleANS,'d-block':showDetalleANS}" *ngFor="let dashboard of dashboardList">
                        <td>
                            <mat-icon class={{dashboard.SentimientoANS}}>{{dashboard.IconoANS}} </mat-icon>
                        </td>
                        <td>

                            {{dashboard.Title}} </td>
                        <td> % </td>
                        <td> Red de Oficinas </td>
                        <td>33 %</td>
                        <td>
                            <mat-icon class={{dashboard.SentimientoANSAnterior}}>{{dashboard.IconoANSAnterior}} </mat-icon>
                        </td>
                        <td>
                            <mat-icon class={{dashboard.ColorVariacionANS}}>{{dashboard.VariacionANS}} </mat-icon>
                        </td>
                        <td></td>
                        <td>{{dashboard.PorcentajeANS | number: '.0-2'}} %</td>
                        <td>{{dashboard.CantidadSolicitudesANS}}</td>
                        <td>{{dashboard.CantidadSolicitudes}}</td>
                    </tr>
                    <tr [ngClass]="{'d-none':!showIndicadores,'d-block':showIndicadores}" (click)="showDetalleReprocesos=!showDetalleReprocesos">
                        <td>
                            <mat-icon class={{sentimentReprocesos}}>{{iconoReprocesos}} </mat-icon>
                            <!-- <mat-icon id="happyReprocessing" class="happy">sentiment_satisfied_alt</mat-icon>
                            <mat-icon id="dissastisfiedReprocessing" class="dissatisfied">mood_bad</mat-icon>
                            <mat-icon id="sadReprocessing" class="sad">sentiment_dissatisfied</mat-icon> -->
                        </td>
                        <td>Porcentaje de Reprocesos</td>
                        <td> %</td>
                        <td>Neg. Inmobiliario</td>
                        <td>33 % </td>
                        <td>
                            <mat-icon class={{sentimentReprocesosPrevious}}>{{iconoReprocesosPrevious}} </mat-icon>
                        </td>
                        <td>
                            <mat-icon class={{sentimentReprocesosVariation}}>{{iconoReprocesosVariation}} </mat-icon>
                        </td>
                        <td></td>
                        <td>{{porcentajeExpedientesReprocesos | number: '.0-3' }} %</td>
                        <td>{{cantidadSolicitudesReprocesos}} </td>
                        <td>{{cantidadSolicitudesPorMes}} </td>
                    </tr>
                    <tr [ngClass]="{'d-none':!showDetalleReprocesos,'d-block':showDetalleReprocesos}" *ngFor="let dashboard of dashboardReprocesosList">
                        <td>
                            <mat-icon class={{dashboard.Sentimiento}}>{{dashboard.Icono}} </mat-icon>
                        </td>
                        <td>
                            {{dashboard.Title}} </td>
                        <td> % </td>
                        <td> Red de Oficinas </td>
                        <td>33 %</td>
                        <td>
                            <mat-icon class={{dashboard.SentimientoAnterior}}>{{dashboard.IconoAnterior}}</mat-icon>
                        </td>
                        <td>
                            <mat-icon class={{dashboard.ColorVariacion}}>{{dashboard.Variacion}} </mat-icon>
                        </td>
                        <td> 4.00 </td>
                        <td>{{dashboard.PorcentajeReprocesos | number: '.0-2'}} % </td>
                        <td>{{dashboard.FlujoSeguimiento }}</td>
                        <td>{{cantidadSolicitudesPorMes }} </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>