img {
    width: 10%;
    height: 10%;
}

.cabeceraTabla {
    color: #0a1128;
    background: #e0fbfc  !important;
}

// table {
//     font-family: arial, sans-serif !important;
//     border-collapse: collapse !important;
//     width: 100% !important;
// }
thead {
    color: white !important;
    background: rgb(32, 163, 255) !important;
}

.titulo {
  color: white !important;
  background: #002855 !important;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

mat-icon.happy {
    color: green;
    font-size: 36px;
}

mat-icon.happy-center {
    color: green;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
}

mat-icon.dissatisfied {
    color: #FFBF00;
    font-size: 36px;
}

mat-icon.dissatisfied-center {
    color: #FFBF00;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
}

mat-icon.sad {
    color: red;
    font-size: 36px;
}

mat-icon.sad-center {
    color: red;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    border: 1px solid #dddddd !important;
    text-align: center !important;
    padding: 8px !important;
}

.td-center {
    text-align: center !important;
}

.td-left {
    text-align: left !important;
}

.td-right {
    text-align: right !important;
}

// tr:nth-child(even) {
//     background-color: #dddddd !important;
// }
.verticalText {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

p {
    margin-left: auto;
    margin-right: auto;
}

// tr.example-detail-row {
//     height: 0;
//     text-align: right;
// }
// tr.example-element-row:not(.example-expanded-row):hover {
//     background: whitesmoke;
// }
// tr.example-element-row:not(.example-expanded-row):active {
//     background: #efefef;
// }
// .example-element-row td {
//     border-bottom-width: 0;
// }
// .example-element-detail {
//     overflow: hidden;
//     display: flex;
// }
// .example-element-diagram {
//     min-width: 80px;
//     border: 2px solid black;
//     padding: 8px;
//     font-weight: lighter;
//     margin: 8px 0;
//     height: 104px;
// }
// .example-element-symbol {
//     font-weight: bold;
//     font-size: 40px;
//     line-height: normal;
// }
// .example-element-description {
//     padding: 16px;
// }
// .example-element-description-attribution {
//     opacity: 0.5;
// }
