<div>
    <form [formGroup]="hipotecarioForm">
        <img mat-mat-card-image src="assets/img/bb.png" alt="Banbif Logo">
        <hr>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <span class="sub-title"> Mes de Operación </span>
                </div>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Mes" formControlName="MesId">
                        <mat-option *ngFor="let item of data" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Zona" formControlName="ZonaId">
                        <mat-option>Todas</mat-option>
                        <mat-option *ngFor="let zona of zonaModelList" [value]="zona.Id">Zona {{zona.Title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Oficina" formControlName="OficinaId">
                        <mat-option [value]="">Todas</mat-option>
                        <mat-option *ngFor="let oficina of oficinaList" [value]="oficina.Id">
                            {{oficina.Title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Vendedor" formControlName="Vendedor">
                        <mat-option [value]="">Todas</mat-option>
                        <!-- <mat-option *ngFor="let user of usersList" [value]="user.Id">
                            {{user.Title}}
                        </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Canal" formControlName="Canal">
                        <mat-option [value]="">Todas</mat-option>
                        <!-- <mat-option *ngFor="let item of data" [value]="item.id">
                            {{item.name}}
                        </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Origen" formControlName="Canal">
                        <mat-option [value]="">Todas</mat-option>
                        <!-- <mat-option *ngFor="let item of data" [value]="item.id">
                            {{item.name}}
                        </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Responsable" formControlName="Canal">
                        <mat-option [value]="">Todas</mat-option>
                        <!-- <mat-option *ngFor="let item of data" [value]="item.id">
                            {{item.name}}
                        </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Semáforo" formControlName="Canal">
                        <mat-option [value]="">Todas</mat-option>
                        <!-- <mat-option *ngFor="let item of data" [value]="item.id">
                        {{item.name}}
                    </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Variación" formControlName="Canal">
                        <mat-option [value]="">Todas</mat-option>
                        <!-- <mat-option *ngFor="let item of data" [value]="item.id">
                        {{item.name}}
                    </mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="td-center" colspan="8">Indicador</th>
                    </tr>
                    <tr>
                        <th>Título </th>
                        <th>Unit</th>
                        <th>Resp.</th>
                        <th>Weight</th>
                        <th>
                            <p class="verticalText">Previous</p>
                        </th>
                        <th>
                            <p class="verticalText">Variación</p>
                        </th>
                        <th>Meta</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Procesos Hipotecario</td>
                        <td>Unidad</td>
                        <td>Neg. Hipotecario</td>
                        <td>100 %</td>
                        <td>
                            <mat-icon class="happy">sentiment_satisfied_alt</mat-icon>
                            <mat-icon class="dissatisfied">mood_bad</mat-icon>
                            <mat-icon class="sad">sentiment_dissatisfied</mat-icon>
                        </td>
                        <td>
                            <mat-icon class="happy">trending_up</mat-icon>
                            <mat-icon class="dissatisfied">trending_flat</mat-icon>
                            <mat-icon class="sad">trending_down</mat-icon>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <mat-icon id="happyConcluded" class="happy">sentiment_satisfied_alt</mat-icon>
                            <mat-icon id="dissastisfiedConcluded" class="dissatisfied">mood_bad</mat-icon>
                            <mat-icon id="sadConcluded" class="sad">sentiment_dissatisfied</mat-icon>
                            Porcentaje de Expedientes Concluidos</td>
                        <td> %</td>
                        <td>Neg. Inmobiliario</td>
                        <td>33 % </td>
                        <td>
                            <mat-icon id="happyConcludedPrevious" class="happy-center">sentiment_satisfied_alt</mat-icon>
                            <mat-icon id="dissastisfiedConcludedPrevious" class="dissatisfied-center">mood_bad</mat-icon>
                            <mat-icon id="sadConcludedPrevious" class="sad-center">sentiment_dissatisfied</mat-icon>
                            <!-- {{porcentajeExpedientesConcluidosAnterior}} -->
                        </td>
                        <td>
                            <mat-icon id="happyConcludedVariation" class="happy-center">trending_up</mat-icon>
                            <mat-icon id="dissastisfiedConcludedVariation" class="dissatisfied-center">trending_flat</mat-icon>
                            <mat-icon id="sadConcludedVariation" class="sad-center">trending_down</mat-icon>
                        </td>
                        <td></td>
                        <td>{{porcentajeExpedientesConcluidos | number: '.0-2'}} %</td>
                    </tr>
                    <tr *ngFor="let dashboard of dashboardList">
                        <td>{{dashboard.Title}} </td>
                        <td> % </td>
                        <td> Red de Oficinas </td>
                        <td></td>
                        <td>{{dashboard.PorcentajeAnterior | number: '.0-2'}} </td>
                        <td>{{dashboard.CantidadSolicitudes}}</td>
                        <td>{{dashboard.FlujoSeguimiento}} </td>
                        <td>{{dashboard.Porcentaje | number: '.0-2'}} </td>
                    </tr>
                    <tr>
                        <td>Cumplimiento de ANS</td>
                        <td> %</td>
                        <td>Neg. Hipotecario</td>
                        <td>33 % </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <mat-icon id="happyReprocessing" class="happy">sentiment_satisfied_alt</mat-icon>
                            <mat-icon id="dissastisfiedReprocessing" class="dissatisfied">mood_bad</mat-icon>
                            <mat-icon id="sadReprocessing" class="sad">sentiment_dissatisfied</mat-icon>
                            Porcentaje de Reprocesos</td>
                        <td> %</td>
                        <td>Neg. Inmobiliario</td>
                        <td>33 % </td>
                        <td>
                            <mat-icon id="happyReprocessingPrevious" class="happy-center">sentiment_satisfied_alt</mat-icon>
                            <mat-icon id="dissastisfiedReprocessingPrevious" class="dissatisfied-center">mood_bad</mat-icon>
                            <mat-icon id="sadReprocessingPrevious" class="sad-center">sentiment_dissatisfied</mat-icon>
                            <!-- {{porcentajeExpedientesReprocesosAnterior}} -->
                        </td>
                        <td>
                            <mat-icon id="happyReprocessingVariation" class="happy-center">trending_up</mat-icon>
                            <mat-icon id="dissastisfiedReprocessingVariation" class="dissatisfied-center">trending_flat</mat-icon>
                            <mat-icon id="sadReprocessingVariation" class="sad-center">trending_down</mat-icon>
                        </td>
                        <td></td>
                        <td>{{porcentajeExpedientesReprocesos | number: '.0-2' }} %</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>