
    .pb-32 {
      padding-bottom: 32px !important;
    }
  
    .pt-8 {
      padding-top: 8px !important;
    }
  
    .line-height-72 {
      line-height: 72px;
    }
  
    .font-size-72 {
      font-size: 72px;
    }
    .font-size-20 {
      font-size: 20px;
    }
 
    .light-blue-fg {
      color: #03a9f4!important;
    }
  
    .orange-fg {
      color: #ff9800!important;
    }
  
    .red-fg {
      color: #f44336!important;
    }

    .md-white-bg .icon,
    .md-white-bg .mat-icon,
    .md-white-bg .md2-datepicker-button,
    .md-white-bg .secondary-text,
    .md-white-bg.secondary-text {
      color: rgba(0,0,0,.54);
    }
  
    .font-weight-500 {
      font-weight: 500;
    }
  
    .h3,
    h3 {
      font-size: 16px;
    }
  
    .info-box {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      place-content: center;
      align-items: center;
    }
  
    mat-card{
        margin: -14px 8px 5px;
    }