.my-modal-component {
  text-align: center;
}
.mat-button-warning {
  background-color: #ffc107;
  color: white;
}
.mat-button-success {
  background-color: #28a745;
  color: white;
}
.mat-button-error {
  background-color: #dc3545;
  color: white;
}
.my-icon {
  font-size: 76px;
  height: auto;
  width: auto;
}
.color-success {
  color: #28a745;
}
.color-warning {
  color: #ffc107;
}
.color-error {
  color: #dc3545;
}
