<ng-http-loader [backdrop]="false" [backgroundColor]="'#ff44336'" [debounceDelay]="100" [extraDuration]="300"
    [minDuration]="300" [opacity]="7" [spinner]="spinkit.skWave">
</ng-http-loader>
<!-- <mat-toolbar color="warn" class=" position-fixed main-toolbar"> -->
<mat-toolbar color="warn" class="position-fixed main-toolbar">
    <mat-toolbar-row>
        <button class="mat-icon-white" type="button" aria-label="Toggle sidenav" mat-icon-button
            (click)="sidenav.toggle()" color="primary">
            <mat-icon class="mat-icon-white" aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <button type="button" mat-button class="mat-icon-button" aria-label="Go Back" hide-xs hide-sm
            (click)="goBack()">
            <mat-icon class="mat-icon-white">chevron_left</mat-icon>
        </button>


        <a type="button" mat-button class="mat-icon-button" aria-label="Go Home" routerLink="/">
            <mat-icon class="mat-icon-white">home</mat-icon>
        </a>
        <!-- <img src="/assets/img/bb.png" width="200" height="70"> -->
        <h3 md-truncate class="md-truncate-titulo">
            <a class="colorBlanco" routerLink='/'>Solicitud de Crédito Hipotecario</a>
        </h3>

        <span class="cls-spacer"></span>

        <button type="button" type="button" mat-button class="mat-icon-button" aria-label="Expand"
            (click)="toggleExpand()">
            <mat-icon>apps</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-sidenav-container class="padding-top position-fixed"> -->
<mat-sidenav-container class="padding-top position-fixed">
    <mat-sidenav #sidenav role="navigation" class=" padding-top">
        <mat-nav-list>
            <a mat-list-item routerLink='/home' (click)="sidenav.toggle()" *ngIf="esMiembroDocumentOwnersGroup">
                <mat-icon class="mt-9" mat-list-icon>home</mat-icon> Home
            </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Hipotecario
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <a mat-list-item routerLink='/hipotecario/solicitud' (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>edit</mat-icon> Registrar Solicitud
                </a>

            </mat-expansion-panel>
        </mat-nav-list>
        <mat-nav-list>
            <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Bandejas
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <a mat-list-item routerLink='/bandejas/missolicitudespendientes' (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>search</mat-icon> Mis Solicitudes Pendientes
                </a>
                <a mat-list-item routerLink='/bandejas/solicitudes' (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>search</mat-icon> Consultas
                </a>
                <a mat-list-item routerLink='/bandejas/seguimientosolicitudes' (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>search</mat-icon> Seguimiento de Solicitudes
                </a>               
                <a mat-list-item routerLink='/bandejas/solicitudespendientes' (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>search</mat-icon> Bandeja de Trabajo
                </a>
                <a mat-list-item routerLink='/bandejas/solicitudesenevaluacion' (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>search</mat-icon> Bandeja de Trabajo Riesgos
                </a>
                <a mat-list-item routerLink='/bandejas/solicitudesfinalizadas' (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>search</mat-icon> Solicitudes Finalizadas
                </a>
            </mat-expansion-panel>
        </mat-nav-list>

        <mat-nav-list>
            <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Mantenimiento
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-title> Tablas Maestras </mat-panel-title>
                <a mat-list-item href='https://bif1mssapp10/banmin/fdt/hipot/Lists/Producto/AllItems.aspx' target="_blank" (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>language</mat-icon> Productos
                </a>
                <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Sub_Producto/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>language</mat-icon> Sub - Productos
                </a>
                <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Modalidad/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>language</mat-icon> Modalidad
                </a>
                <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Zona/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>language</mat-icon> Zona
                </a>
                <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Oficina/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>language</mat-icon> Oficina
                </a>
                <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/EStado/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>language</mat-icon> Estado
                </a>
                <mat-panel-title>Plan de Ahorro</mat-panel-title>
                <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Tipo_Moneda_Ahorro/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>language</mat-icon> Tipo de Moneda de Ahorro
                </a>
                <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Situacion_Plan_Ahorro/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>language</mat-icon> Situación de Plan de Ahorro
                </a>

                <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Ulitmo_Abono_Validado/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>language</mat-icon> Último Abono Validado(Mes/Año)
                </a>
                <mat-panel-title>Datos de la Operación</mat-panel-title>
                <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Tipo_Documento/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                  <mat-icon mat-list-icon>language</mat-icon> Tipo Documentos
              </a>
              <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Sustento_Ingresos/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                  <mat-icon mat-list-icon>language</mat-icon> Sustento Ingresos
              </a>
              <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Proyecto/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                  <mat-icon mat-list-icon>language</mat-icon> Proyectos
              </a>
              <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Numero_Vivienda/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                  <mat-icon mat-list-icon>language</mat-icon> Numero de Vivienda
              </a>
              <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Modalidad_Pago/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                  <mat-icon mat-list-icon>language</mat-icon> Modalidad de Pago
              </a>
              <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Lugar_Visita/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                  <mat-icon mat-list-icon>language</mat-icon> Lugar de Visita
              </a>
              <mat-panel-title>Garantías</mat-panel-title>
              <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Tipo_Garantia/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                  <mat-icon mat-list-icon>language</mat-icon> Tipo de Garantía
              </a>
              <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Tipo_Abono/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                  <mat-icon mat-list-icon>language</mat-icon> Tipo de Abono
              </a>
              <a mat-list-item href="https://bif1mssapp10/banmin/fdt/hipot/Lists/Tipo_Abono/AllItems.aspx" target="_blank" (click)="sidenav.toggle()">
                  <mat-icon mat-list-icon>language</mat-icon> Estado Gestor
              </a>

            </mat-expansion-panel>


        </mat-nav-list>

        <mat-nav-list>
          <mat-expansion-panel [expanded]="false">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      DashBoard
                  </mat-panel-title>
              </mat-expansion-panel-header>
              <a mat-list-item routerLink='/dashboard/solicitudesCredito' (click)="sidenav.toggle()">
                  <mat-icon mat-list-icon>search</mat-icon> Solicitudes de Crédito Hipotecario
              </a>
          </mat-expansion-panel>
      </mat-nav-list>




    </mat-sidenav>


    <mat-sidenav-content class="padding-top">
        <!-- <main [@routeAnimations]="o && o.isActivated? o.activatedRoute : ''" class="contenedor-main main-custom paddingtop70"> -->
        <main [@routeAnimations]="o && o.isActivated? o.activatedRoute : ''" class="contenedor-main main-custom">
            <router-outlet #o="outlet"></router-outlet>
        </main>
    </mat-sidenav-content>

</mat-sidenav-container>
